.sec {
  position: relative;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 30px 100px;
  background-color: #fff;
  z-index: 14;
}

.sec::before {
  content: '';
  position: absolute;
  top: -6rem;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#fff, transparent);
  z-index: 1000;
}

.sec h2 {
  margin-bottom: 1.2rem;
  font-size: 3rem;
}

.sec p {
  font-size: 1.25rem;
  color: #1b1b1b;
}

#bubble1,
#bubble2 {
  position: absolute;
  filter: opacity(0.6);
}

#bubble1 {
  width: 50%;
  transform: rotateY(180deg);
  transform: scale(0.6);
}